* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
p {
  margin-left: 5px;
}
.top_head {
  background: #28282b;
  color: #fff;
  margin-bottom: 10px;
  top: 0;
  position: sticky;
  height: 7vh;
  text-align: center;
}
.head_txt {
  padding: 15px;
}
/* Left Navigation */

/* The sidebar menu */
.sidenav_left {
  margin: 7vh 0 0 0;
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  float: left;
  left: 0;
  background-color: #28282b; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav_left a {
  border-bottom: 1px solid #555;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  font-size: 36px;
  text-align: center;
}
.sidenav_left a:first-child {
  border: none !important;
  margin-bottom: 50px;
}
.sidenav_left a:last-child {
  border: none;
  margin-top: 5px;
}
.sidenav_left a:nth-child(7) {
  border: none;
  margin-top: 100px;
}
/* Main Sidebar Left */
.main_sidebar_left {
  margin: 7vh 0 0 0;
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  float: left;
  left: 100px;
  background-color: #28282b; /* Black */
  border-left: 1px solid #555;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.main_sidebar_left a {
  border-bottom: 1px solid #555;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  text-align: left;
  position: relative;
}

/* Main Side Bar Sub Links */

.main_sidebar_links li {
  text-align: left;
  top: 0;
  display: inline-block;
  color: #fff;
}

.main_sidebar_left a:first-child {
  border: none !important;
  font-size: 36px;
  top: -25px;
  padding: 0 20px 20px 20px;
  background-color: #555;
  text-align: center;
  font-weight: 800;
  padding: 0 30px 20px 20px;
}

.bookmark_ico {
  position: absolute;
  transform: rotate(90deg);
  color: #ff0000;
  right: 285px;
  bottom: 42px;
}
.circle_ico {
  position: absolute;
  color: #2d7adf;
  right: 263px;
  bottom: 42px;
}
.p_main_txt_left {
  color: #fff;
}

.p_txt_left_one {
  color: #ff0000 !important;
  right: 170px;
  font-size: 16px;
}
.p_txt_left_two {
  position: relative;
  color: #ff0000 !important;
  right: -5px !important;
  font-size: 16px;
}
.p_txt_left_three {
  position: relative;
  color: #ff0000 !important;
  right: -8px !important;
  font-size: 16px;
}
.bookmark_ico_two {
  position: absolute;
  transform: rotate(90deg);
  color: #ff0000;
  right: 285px;
  bottom: 42px;
}
.circle_ico_two {
  position: absolute;
  color: #33ff33;
  right: 263px;
  bottom: 42px;
}
.p_txt_left_one_sec {
  color: #fff !important;
  right: 170px;
  font-size: 16px;
}
.p_txt_left_two_sec {
  position: relative;
  color: #ff0000 !important;
  right: -5px !important;
  font-size: 16px;
}
.p_txt_left_three_sec {
  position: relative;
  color: #ff0000 !important;
  right: -8px !important;
  font-size: 16px;
}
.bookmark_ico_three {
  position: absolute;
  transform: rotate(90deg);
  color: #ff0000;
  right: 285px;
  bottom: 42px;
}
.circle_ico_three {
  position: absolute;
  color: #33ff33;
  right: 263px;
  bottom: 42px;
}

.p_txt_left_one_three {
  color: #33ff33 !important;
  right: 170px;
  font-size: 16px;
}
.p_txt_left_two_three {
  position: relative;
  color: #ff0000 !important;
  right: -5px !important;
  font-size: 16px;
}
.p_txt_left_three_three {
  position: relative;
  color: #ff0000 !important;
  right: -8px !important;
  font-size: 16px;
}
.bookmark_ico_four {
  position: absolute;
  transform: rotate(90deg);
  color: #ff0000;
  right: 285px;
  bottom: 42px;
}
.circle_ico_four {
  position: absolute;
  color: #df922d;
  right: 263px;
  bottom: 42px;
}

.p_txt_left_one_four {
  color: #33ff33 !important;
  right: 170px;
  font-size: 16px;
}
.p_txt_left_two_four {
  position: relative;
  color: #33ff33 !important;
  right: -5px !important;
  font-size: 16px;
}
.p_txt_left_three_four {
  position: relative;
  color: #33ff33 !important;
  right: -8px !important;
  font-size: 16px;
}
/* Right Navigation */

.sidenav_right {
  margin-top: 7vh;
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  float: right;
  right: 0;
  background-color: #28282b; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav_right a {
  border-bottom: 1px solid #555;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  font-size: 36px;
  text-align: center;
}
.sidenav_right a:first-child {
  border: none;
  margin-bottom: 50px;
}
/* Card */

.dap_head {
  background: rgb(13, 109, 219);
  text-align: center;
  font-size: 48px;
  height: 12vh;
  font-weight: bold;
  color: #fff;
}
.sub_card {
  background: rgba(104, 160, 224, 0.534);
  color: #fff;
  text-align: center;
}
.main_card {
  height: 800px;
  top: 0;
}

.center_main_card {
  height: 600px;
}
.center_sub_card {
  height: 300px;
  width: 20rem;
  margin: 0 10px;
  align-items: center;
}
.card-img-top {
  width: 100%;
  height: 250px;
}
.footer_card {
  height: 450px;
}
.footer_sub_card {
  height: 250px;
  background: rgb(13, 109, 219);
  color: #fff;
  text-align: center;
}
.cntr_card_body {
  margin-top: -40px;
}
.cntr_card_body p {
  margin-top: -5px;
}
/* Main_sidnav_right */
.Main_sidenav_right {
  margin: 7vh 0 0 0;
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  float: right;
  right: 100px;
  background-color: #28282b; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.h_1 {
  color: #fff;
  text-align: center;
  /* margin-top: 2 px; */
  /* background-color: #555; */
  /* border-bottom: 1px solid #555; */
}

.m_head {
  color: #fff;
  margin-right: 5px;
  font-size: 12px;
  /* border-bottom: 1px solid #555; */
  margin-left: 3px;
}
.hed {
  color: #0584f1;
  font-size: 20px;
  margin-top: 5px;
  /* border-bottom: 1px solid #555; */
  text-align: center;
}
/* hr{
  color:  #fff;
33ff33


  margin-top: 5px;
} */
.p_1 {
  color: #fff;
  margin-left: 3px;
  top: 0;
}
.p_2 {
  color: #ff0000;
}
.p_4 {
  color: #ff0000;
  margin-left: 3px;
}
.p_0 {
  color: #fff;
  margin-left: 65px;
}
.p_3 {
  color: #33ff33;
}
.h_f {
  /* border-bottom: 1px solid #555; */
}
.Main_sidenav_right {
  border: none;
  margin-bottom: 50px;
}
/* Footer */
.p_footer {
  position: relative;
  margin-top: 25px;
  bottom: 0;
  background: #28282b;
  height: 7vh;
}
.footer_text {
  padding: 15px;
  position: absolute;
  left: 880px;
  color: #fff;
  text-align: center;
}
/* Card Wrappers */
.main_card_wrapper {
  height: 800px;
  top: 0;
  border-radius: 0;
}

.lower_sub_card {
  height: 400px;
  background: rgb(13, 109, 219);
  color: #fff;
  font-weight: 600;
}
.stats_line_chart {
  margin: 10px auto;
  width: 900px;
  height: 350px;
  justify-content: center;
}
